body{
    background-image: url(imagenes/fondo2.jpg);
    box-sizing: border-box;
    background-attachment: fixed;
    
}

.color{
    background-color: #c0e5e8a2;
    box-sizing: border-box;
    background-attachment: fixed;
}


.colorletras{
     color: purple !important;
     font-family:Akaya Telivigala, cursive ;
     font-size: 30px;
     letter-spacing: 1px;
     margin: 10px !important;

}

.navbar-collapse li :hover{
    text-decoration: overline;
    color: rgb(11, 189, 243) !important;
}

.style-title{
    color: purple;
    text-align: center;
    font-family:Akaya Telivigala, cursive;
    font-size: 60px;
    letter-spacing: 1px;
    margin: 50px;
}

/* .fondo{
    background-image: url(imagenes/fondoimg4.jpg);
} */
.Titulo-producto{  
    text-align: center;
    display: flex; 
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 1px;
    margin: 10px;
}

.carousel-item img{
    width: 50%;
    height: 50%;
    margin: 0px 0% 0% 27%;
}

/* .form-inline{
    background-color: rgb(245, 142, 188);
} */

.Descripción-producto{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 30px;
}

.card-body{
    text-align: center;
}

.Textofooter{
    padding-top: 8px;
    width: 100%;
    font-family: cursive;
    text-align: center;
    font-size: 15px;
    height: 80px;
    background-color: #c0e5e8a2;
    
}


